/*   
     CSS for The Forever Men!
     Written by Bill Niblock
*/

html{
	background: red;
}

header{
	position:fixed; top:0px; left:0px; right:0px; height:240px;
}

.main{
	position:fixed; top:250px; left:10px; right:5px; bottom:40px;
	border: 2px solid white;
	overflow: scroll;
}

footer{
	position:fixed; bottom:0px; left:0px; height:20px;	
}

#nav #News:hover{ background-color: yellow;}

.nav{
	margin-left: auto; margin-right: auto; width: 700px;
}

.nav_button{
	float:left; width: 200px; height: 20px; 
	border: 2px solid white; border-radius:25px;
	text-align:center; 
}

.news{
	position:absolute; top: 5px; left: 5px; right: 5px; z-index:1;
	
}

#news{
	visibility: visible;
	-webkit-transition-property: background-color 1s;
	-o-transition-property: background-color 1s;
}


.cast{
	position:absolute; top: 5px; left: 5px; right: 5px; z-index:1;
	visibility: hidden;
}

.about{
	position:absolute; top: 5px; left: 5px; right: 5px; z-index:1;
	visibility: hidden;
}