/* Footer-specific CSS for external Vagabond sites
   Created by Bill Niblock
   http://www.theinternetvagabond.com
*/

/* =============================
		New Footer Styles 
============================= */	
	.footer{
		position: fixed; bottom: -20px; left: 10px; right: 10px; height: 17px; z-index: 10;
		border: 1px #666699 solid; border-top-left-radius: 5px; border-top-right-radius: 5px;
		background-color: #666699;
		-o-transition-property: bottom;
		-moz-transition-property: bottom;
		-webkit-transition-property: bottom;
		-o-transition-duration: 1s;
		-moz-transition-duration: 1s;
		-webkit-transition-duration: 1s;
	}
	.footer:hover{ bottom: 0px;}
	.footer_notice{
		position: absolute; left: 0px; right: 0px; margin-left: auto; margin-right: auto; width: 400px;
		text-align: center;
	}
	.footer_notice_text{
		font-weight: lighter; font-size: 10px; letter-spacing: 2px; color: #444444;
		padding: 1px 7px; margin: -6px 10px 0px; 
		border: 3px #996666 solid; border-radius: 5px;
		background-color: #CC9999;
		cursor: pointer;
	}
	