<!DOCTYPE html>
<html>
<head>
    <title>The Internet Vagabond :: {{ page.tabtitle }}</title>
    <meta name="description" 
        content="Rants of a wandering techy, in search of truth, knowledge, and a decent ping." />
    <meta name="author" content="Bill 'Vagabond Azulien' Nibz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/src/styles/corrupt.css" />
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/src/images/favicon.ico" />
</head>
<body>
<div class="cor_page">
    <div class="cor_content">
        <div class="cor_head">
            <div class="title">
                <div>The</div><div>Internet</div><div>Vagabond</div>
            </div>
        </div>
        <div id="content">
            <div id="cor_coll_title">{{ page.tabtitle }}</div>
            {{ content }}
        </div>
    </div>
    <div class="cor_menu">
        <div class="" id="tags">
        </div>
        <div class="cor_footer">
            <div class="" id="about">
                <h2>The Site</h2>
                <p>This site is a small slice of internet real-estate that I use for
                    occasional writing. Nothing I say is visionary or profound. I
                    will tend to focus on technology, gaming, and philosophy.</p>
                <h2>The Vagabond</h2>
                <p>My name is Bill Niblock. I'm a computer scientist by education, a
                    technologist by trade, a gamer by hobby, and a philosopher by
                    mistake.</p>
            </div>
            <div id="social">
                <div class="">
                    <a href="https://github.com/VagabondAzulien">
                        <img src="{{ site.url }}/src/images/github_light.png"
                            width="32" height="32" alt="GitHub"
                            title="My GitHub Repos" />
                    </a>
                </div>
                <div class="">
                    <a href="https://twitter.com/Azulien">
                        <img src="{{ site.url }}/src/images/twitter_light.png"
                            width="32" height="32" alt="Twitter"
                            title="My Twitter Feed" />
                    </a>
                </div>
                <div class="">
                    <a href="https://www.twitch.tv/vagabondazulien/profile">
                        <img src="{{ site.url }}/src/images/twitch_light.png"
                            width="32" height="32" alt="Twitch"
                            title="My Twitch Profile" />
                    </a>
                </div>
                <div class="">
                    <a href="https://steamcommunity.com/id/azulien">
                        <img src="{{ site.url }}/src/images/steam_light.png"
                            width="32" height="32" alt="Steam"
                            title="My Steam Profile" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
