<!DOCTYPE html>
<html>
<head>
    <title>The Internet Vagabond :: {{ page.tabtitle }}</title>
    {% feed_meta %}
    <meta name="description" 
        content="Rants of a wandering techy, in search of truth, knowledge, and a decent ping." />
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{{ site.url}}{{ page.url }}" />
    <link rel="stylesheet" type="text/css" 
          href="{{ site.url }}/src/styles/corrupt_layout.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ site.url }}/src/styles/corrupt_typog.css" />
    <link rel="icon" type="image/x-icon" 
          href="{{ site.url }}/src/images/favicon.ico" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
          crossorigin="anonymous">
    <script data-goatcounter="https://theinternetvagabond.goatcounter.com/count"
            async src="{{ site.url}}/src/scripts/goatcounter.js"></script>
</head>
<body>
  <div class="cor_page">

    <header>
      <a href="/">
        <div>
          <span class="first">T</span>he
          <span class="first">I</span>nternet
          <span class="first">V</span>agabond
        </div>
      </a>
    </header>

    <main>
      {{ content }}
    </main>

    {% include cor_menu.html %}
  </div>
</body>
</html>
