<!DOCTYPE html>
<html>
<head>
    <title>The Internet Vagabond :: {{ page.tabtitle }}</title>
    <meta name="description" 
        content="Rants of a wandering techy, in search of truth, knowledge, and a decent ping." />
    <meta name="author" content="Bill 'Vagabond Azulien' Nibz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" 
          href="{{ site.url }}/src/styles/corrupt_layout.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ site.url }}/src/styles/corrupt_typog.css" />
    <link rel="icon" type="image/x-icon" 
          href="{{ site.url }}/src/images/favicon.ico" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
          integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
          crossorigin="anonymous">
</head>
<body>
  <div class="cor_page">
      <header>
        <a href="/">
          <div>The</div><div>Internet</div><div>Vagabond</div>
        </a>
      </header>
      <main>
          <article>
              {{ content }}
              <h4>[ {{ page.author }} ][ {{ page.pub }} ][
              {% for topic in page.topics %}
                  <a href="/topics/{{topic}}">{{topic}}</a> 
              {% endfor %}]</h4>
          </article>
      </main>
      {% include cor_menu.html %}
  </div>
</body>
</html>
