<!DOCTYPE html>
<html>
<head>
    <title>The Internet Vagabond :: {{ page.tabtitle }}</title>
    <meta name="description" 
        content="Rants of a wandering techy, in search of truth, knowledge, and a decent ping." />
    <meta name="author" content="Bill 'Vagabond Azulien' Nibz" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/src/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
        crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/src/images/favicon.ico" />
</head>
<body>
<div class="pure-g">
    <div class="pure-u-4-5">
        <div class="header pure-u-1">
            <div class="title">
                <div>The</div><div>Internet</div><div>Vagabond</div>
            </div>
        </div>
        <div class="pure-u-1">
            <div id="content">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="pure-g pure-u-1-5 menu">
        <div class="pure-u-1">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Projects</li>
                    <ul id="projects">
                        {% for pr in site.projects limit:3 %}
                        <li>{{ pr.title }}</li>
                        {% endfor %}
                    </ul>
                <li>Posts</li>
                    <ul id="posts">
                        {% for post in site.posts limit:3 %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
            </ul>
        </div> 
        <div class="pure-g" id="footer">
            <div class="pure-u-1-4">
                <a href="https://github.com/VagabondAzulien">
                    <img src="{{ site.url }}/src/images/github_light.png"
                        width="32" height="32" alt="GitHub"
                        title="My GitHub Repos" />
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="https://twitter.com/Azulien">
                    <img src="{{ site.url }}/src/images/twitter_light.png"
                        width="32" height="32" alt="Twitter"
                        title="My Twitter Feed" />
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="https://www.twitch.tv/vagabondazulien/profile">
                    <img src="{{ site.url }}/src/images/twitch_light.png"
                        width="32" height="32" alt="Twitch"
                        title="My Twitch Profile" />
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="https://steamcommunity.com/id/azulien">
                    <img src="{{ site.url }}/src/images/steam_light.png"
                        width="32" height="32" alt="Steam"
                        title="My Steam Profile" />
                </a>
            </div>
            <div class="pure-u-1" id="cw">Niblock&copy2015</div><br />
        </div>
    </div>
</div>
</body>
</html>
