/*   
     CSS for www.theinternetvagabond.com
     Written by Bill Niblock
*/

	html{
		background-color: #DDDDDD;
	}

/* =============================
		Header Styles 
============================= */	
	.header_articles{
		position: fixed; top: 0px; left: 10px; right: 10px; z-index: 10;
		border: 1px #666699 solid; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
		height: 17px;
		background-color: #666699
	}
	.header_articles_links{
		position: absolute; left: 0px; right: 0px; margin-left: auto; margin-right: auto; width: 100%;
		text-align: center;
	}
	.header_articles_links_left{
		float: left; position: absolute; left: 10px;
		font-weight: lighter; font-size: 10px; letter-spacing: 2px; color: #444444;
		padding: 1px 7px; margin: 6px 10px 0px; width: 250px;
		border: 3px #996666 solid; border-radius: 5px;
		background-color: #CC9999;
		cursor: pointer;
	}
	.header_articles_links_center{
		float: left; position: absolute; left: 0px; right: 0px;
		font-weight: lighter; font-size: 10px; letter-spacing: 2px; color: #444444;
		padding: 1px 7px; margin: 6px auto 0px; width: 300px;
		border: 3px #996666 solid; border-radius: 5px;
		background-color: #CC9999;
		cursor: pointer;
	}
	.header_articles_links_right{
		float: left; position: absolute; right: 10px;
		font-weight: lighter; font-size: 10px; letter-spacing: 2px; color: #444444;
		padding: 1px 7px; margin: 6px 10px 0px; width: 250px;
		border: 3px #996666 solid; border-radius: 5px;
		background-color: #CC9999;
		cursor: pointer;
	}
	.header_articles_a{	text-decoration: none; color: #444444;}
	.header_articles_a:hover{ text-decoration: none; color: #444444;}
	.header_articles_a:visited{ text-decoration: none; color: #444444;}
	.header_articles_a:active{ text-decoration: none; color: #444444;}
	.header_articles_a:link{ text-decoration: none; color: #444444;}
		
/* =============================
		Footer Styles 
============================= */
	
	.footer_articles{
		position: fixed; bottom: 0px; left: 10px; right: 10px; z-index: 10;
		border: 1px #666699 solid; border-top-left-radius: 5px; border-top-right-radius: 5px;
		height: 17px;
		background-color: #666699
	}
	.footer_articles_notice{
		position: absolute; left: 0px; right: 0px; margin-left: auto; margin-right: auto; width: 400px;
		text-align: center;
	}
	.footer_articles_notice_text{
		font-weight: lighter; font-size: 10px; letter-spacing: 2px; color: #444444;
		padding: 1px 7px; margin: -6px 10px 0px; 
		border: 3px #996666 solid; border-radius: 5px;
		background-color: #CC9999;
		cursor: pointer;
	}
	
/* =============================
		Article Styles 
============================= */
	.article{
		position: fixed; left: 5px; top: 15px; bottom: 15px; right: 5px;
		padding: 10px; overflow: auto; white-space: pre-wrap;
	}